.terminalInput {
    background-color: inherit;
    color: inherit;
    font: inherit;
    border: none;
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
}

.terminalInput:focus {
    outline: none;
}