/* components/TerminalWindow.module.css */

.terminalWindow {
  background-color: rgb(9, 9, 9);
  color: #0aff32;
  border-radius: 8px;
  /* padding: 12px; */
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  width: 95vw;
  height: 90vh;
  max-width: 60rem;
  max-height: 80rem;
  overflow: auto;
  font-size: 1rem;
}

.maximized {
  width: 100vw;
  height: 100vh;
  max-width: 100vw;
  max-height: 100vh;
  border-radius: 0;
  /* Optional: remove border radius when maximized */
  position: fixed;
  /* To position it relative to the viewport */
  top: 0;
  left: 0;
  margin: 0;
  /* Remove any margins */
  z-index: 9999;
  /* Ensure it's above other content */
}

.titleBar {
  display: flex;
  position: fixed;
  align-items: center;
  padding: 0.6rem;
  background: #f2f2f2;
  border-radius: 6px 6px 0 0;
  color: rgb(87, 87, 87);
  width: 95vw;
  max-width: 60rem;
}

.maximizedTitleBar {
  display: flex;
  position: fixed;
  align-items: center;
  padding: 0.6rem;
  background: #f2f2f2;
  border-radius: 0;
  color: rgb(87, 87, 87);
  width: 100vw;
  max-width: 100vw;
}

.buttons {
  display: flex;
  margin-right: 8px;
}

/* components/TerminalWindow.module.css */

.button {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  margin-right: 8px;
  position: relative;
  top: -1px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
}

.button:hover::before {
  content: ' ';
  display: block;
}

.close {
  background: #ff605c;
}

.close:hover {
  background-image: url('../assets/close.svg');
  background-size: 55%;
  background-position-x: 49%;
  background-position-y: 49%;
  background-repeat: no-repeat;
}

.minimize {
  background: #ffbd44;
}

.minimize:hover {
  background-image: url('../assets/minimize.svg');
  background-size: 90%;
  background-position-y: 49%;
  background-position-x: 46%;
  background-repeat: no-repeat;
}

.maximize {
  background: #00ca4e;
}

.maximize:hover {
  background-image: url('../assets/expand.svg');
  background-size: 40%;
  background-position-x: 49%;
  background-position-y: 49%;
  background-repeat: no-repeat;
}

.title {
  flex-grow: 1;
  text-align: center;
}

.content {
  height: 100%;
  overflow-y: auto;
  padding: 1rem;
}

.preformatted {
  white-space: pre-wrap;
  /* Since white-space: pre; doesn't wrap text */
  margin: 0;
  /* Remove default margin from <pre> tag */
  /* Add other styles if needed */
}